<div class="page-header">
  <%= link_to tarifas_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atras
  <% end %>
  <%= link_to edit_tarifa_path(@tarifa), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Tarifa</h1>
</div>

<dl class="dl-horizontal">
  <dt>Fecha:</dt>
  <dd><%= @tarifa.fecha.strftime("%d/%m/%Y") %></dd>

  <dt>Bandera diurna:</dt>
  <dd><%= @tarifa.valor_ba_diu %></dd>

  <dt>Bandera nocturna:</dt>
  <dd><%= @tarifa.valor_ba_noc %></dd>

  <dt>Ficha diurna:</dt>
  <dd><%= @tarifa.valor_fi_diu %></dd>

  <dt>Ficha nocturna:</dt>
  <dd><%= @tarifa.valor_fi_noc %></dd>

</dl>
